@import url("https://fonts.googleapis.com/css2?family=Noto+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
}

#root {
  display: contents;
}

.contaner {
  display: grid;
  grid-template-columns: 320px 1fr;
  min-height: 100dvh;
}

.header {
  align-content: start;
  background-color: #f8f8f8;
  display: grid;
  gap: 16px;
  height: 100dvh;
  padding: 24px 16px;
  position: sticky;
  top: 0;
}

.title {
  font-size: 1.5rem;
}

.navigation-list {
  list-style: none;
}

.navigation-link {
  border-radius: 6px;
  color: inherit;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 100ms ease-in-out;
}

.navigation-link.-active {
  background-color: #eaeaea;
}

.navigation-link:hover {
  background-color: #e1e1e1;
}

.main {
  align-content: start;
  display: grid;
  gap: 32px;
  justify-self: center;
  padding: 32px;
  width: min(1080px, 100%);
}

.image svg {
  display: block;
  width: 100%;
  height: auto;
}

.control {
  display: grid;
  gap: 16px;
  width: clamp(50%, 400px, 100%);
}

.label {
  display: grid;
  gap: 4px;
}

.input {
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 20px;
  padding: 8px 12px;
}

.button {
  background-color: #ddd;
  border: none;
  border-radius: 8px;
  color: #222;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 16px;
  padding: 16px 24px;
  transition: background-color 100ms ease-in-out;
}

.button:hover {
  background-color: #ccc;
}
