@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP");

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.imageWrapper svg {
  width: 100%;
  height: auto;
}
