@import url("https://fonts.googleapis.com/css2?family=Noto+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
}

#root {
  display: contents;
}

.container {
  display: grid;
  gap: 2rem;
  margin: auto;
  padding: 2rem;
  width: min(1080px, 100%);
}

.title {
  font-size: 2rem;
}

.imageWrapper svg {
  width: 100%;
  height: auto;
}

.formWrapper {
  display: grid;
  gap: 1rem;
  width: max(400px, 50%);
}

.inputWrapper {
  display: grid;
  gap: 0.25rem;
}

.input {
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 20px;
  padding: 0.5rem 0.75rem;
}

.button {
  background-color: #ddd;
  border: none;
  border-radius: 8px;
  color: #222;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  transition: background-color 100ms ease-in-out;
}

.button:hover {
  background-color: #ccc;
}
